body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color :darkgreen;
}

h1,h2 {
    text-align:center;
}

p {
    line-height:25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

img {
    float:left;
    margin-right:20px;
}

ul {
    overflow:hidden;
}